# Rust
/target
**/*.rs.bk
.env

# Frontend
/apps/web/node_modules
/apps/web/dist
/apps/web/.eslintcache
/apps/web/.vite
/uploads


# Editor
# .vscode
.idea
*.sw?
*.log
*.tmp
*.DS_Store

# Cursor / AI
# .cursor/
*.ai.md
/.tmp/
/.rustzen-admin/

# Environment variables
node_modules
.pnpm-store
