# Rust
/target
**/*.rs.bk
.env

# Frontend
/zen-web/node_modules
/zen-web/dist
/zen-web/.eslintcache
/uploads


# Editor
# .vscode
.idea
*.sw?
*.log
*.tmp
*.DS_Store

# Cursor / AI
# .cursor/
*.ai.md
/.tmp/
/.rustzen-admin/

# Environment variables
node_modules
.pnpm-store
