[Unit]
Description=rustzen-admin
After=network.target

[Service]
Type=simple
EnvironmentFile=/opt/rustzen-admin/config/app.env
ExecStart=/opt/rustzen-admin/bin/rustzen-admin
WorkingDirectory=/opt/rustzen-admin
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
