[Unit]
Description=RustZen Monitor Agent
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
EnvironmentFile=/opt/rz/config/rz.env
ExecStart=/opt/rz/current/bin/rz-monitor agent
WorkingDirectory=/opt/rz
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
