[Unit]
Description=RustZen Server Services
Wants=rz-recovery.service rz-admin.service rz-monitor.service rz-insights.service rz-reports.service
After=network.target

[Install]
WantedBy=multi-user.target
